### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [9]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [10]:
#Find the Total number of players 
Player_Count=len(purchase_data["SN"].value_counts())

#printed to see whether I am getting correct answer and commented as it is not required
#Player_Count

#Put the answer into a table format as in the given answer
pd.DataFrame({"Total Players":[Player_Count]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
#The Unique item
Unique_Items=len(purchase_data["Item ID"].unique())
Unique_Items

#Calculate the total Price
Total_Price="$"+str(round(purchase_data["Price"].sum(),2))
Total_Price

#Calculate number of Purchases
Number_Of_Purchases=purchase_data["Price"].count()
Number_Of_Purchases

#Calculate Average Price
Average_Price="$"+str(round(purchase_data["Price"].mean(),2))
Average_Price

#Put the answer into a data frame
pd.DataFrame({"Number of Unique Items":[Unique_Items],"Average Price":[Average_Price],"Number of Purchases":[Number_Of_Purchases],"Total Revenue":[Total_Price]})

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
#Percentage and Count of Male Players
#create seperate data frame based on SN and Gender
Gender_group=purchase_data[["SN","Gender"]]

# remove duplicates of above data frame based on SN column as this column include same player multiple times
Gender_group1=Gender_group.drop_duplicates(subset=['SN'])
Gender_group1

#Get the count of players in each gender 
Gender_count=Gender_group1["Gender"].value_counts()
Gender_count

#Calculate the Gender Percentage, to do that we need to devide each gender count by total gender count and multiply by 100
# If refer to Gender_count table, there are only three position which I can address with Index numbers(Index 0,index 1 and index2 )as there are only three geneder categories
Gender_percentage= [round((Gender_count[0]/Player_Count)*100,2),round((Gender_count[1]/Player_Count)*100,2),round((Gender_count[2]/Player_Count)*100,2)]
Gender_percentage

#Create new data frame with above calculation.
Gender_df=pd.DataFrame({"Total Count":Gender_count,"Percentage of Players":Gender_percentage})
Gender_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [33]:
#Run basic calculations to obtain 

#Use Groupby in order to seperate the data into fields according to "SN" values
Gender_grouped=purchase_data.groupby("Gender")

#***purchase count
purchase_count=Gender_grouped["Purchase ID"].count()
purchase_count

#***Average purchase total by gender
Ave_purchase_total=Gender_grouped["Price"].sum()
Ave_purchase_total

#***Average purchase price by gender = Total Purchase price per Gender/Purchase Count
Ave_purchase_price_by_Gen=Gender_grouped["Price"].mean()
Ave_purchase_price_by_Gen

#***Calculate Average Total purchase per person = 
Ave_purchase_per_person=Ave_purchase_total/Gender_count
Ave_purchase_per_person


#Create summary data frame with above calculated values
Purchase_demo=pd.DataFrame({"Purchase Count":purchase_count,
                          "Average Purchase Price":Ave_purchase_price_by_Gen,
                           "Average Purchase Value":Ave_purchase_total,
                          "Average Purchase Total per Person":Ave_purchase_per_person})
Purchase_demo

#displayed data cleaner formatting, Set the index first
Purchase_demo.index.name="Gender"
Purchase_demo

#Formatting 
Purchase_demo.style.format({"Average Purchase Price":"${:,.2f}","Average Purchase Value":"${:,.2f}","Average Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [34]:
#Establish bins for ages
Age_bins=[0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
Group_names=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Catergorise the existing players using  the above created bins
purchase_data["Age Bins"]=pd.cut(purchase_data["Age"],Age_bins,labels=Group_names)
purchase_data

#Count total players by category "Age" and drop the duplicated using .nunique method
Age_grouped=purchase_data.groupby("Age Bins")

#Calculate the total player count comes under each bin
Total_player_count_Bin=Age_grouped["SN"].nunique()
Total_player_count_Bin

#Calculate the Player Count percentage
Player_count_percentage=Total_player_count_Bin/Player_Count*100
Player_count_percentage

#Create new data frame to hold both column data
Age_demo=pd.DataFrame({"Total Count":Total_player_count_Bin,"Percentage of Players":Player_count_percentage})
Age_demo

Age_demo.index.name=None
Age_demo

#Just format the Percentage of Player column to two decimal places
Age_demo.style.format({"Percentage of Players":'{:,.2f}%'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
#Can use the same bin created in the above Age Demo, here I am going to calculate
#***Purchase Count
Pur_count_by_age=Age_grouped["Purchase ID"].count()
Pur_count_by_age

#***Average Purchase Price= Total Purchase price/purchase count 
Total_purchase_price=Age_grouped["Price"].sum()
Total_purchase_price

#***Average perchase price per person- in here I need to get the total purchase by each bin and devide that value by purchase count by age
Ave_purchase_price=Total_purchase_price/Pur_count_by_age
Ave_purchase_price

#Calculate Average Total per person- with this one, I need to get the total purchase by each bin and devode that by total number of playes count in the each bin
Ave_total_purchase_per_person=Total_purchase_price/Total_player_count_Bin
Ave_total_purchase_per_person

#Set them up in new data frame
Purchasing_age_demo=pd.DataFrame({"Purchase Count":Pur_count_by_age,"Average Purchase Price":Ave_purchase_price,"Total Purchase Value":Total_purchase_price,"Avg Total Purchase per Poerson":Ave_total_purchase_per_person})
Purchasing_age_demo


#Apply the formatting
Purchasing_age_demo.style.format({"Average Purchase Price":'${:,.2f}',"Total Purchase Value":'${:,.2f}',"Avg Total Purchase per Poerson":'${:,.2f}'})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [7]:
#Use Groupby in order to seperate the data into fields according to "SN" values
SN_grouped=purchase_data.groupby("SN")
SN_grouped

#Calculate, Purchase Count by SN
Pur_count_by_SN=SN_grouped["Purchase ID"].count()
Pur_count_by_SN

#Calculate Average Purchase Price by SN
Ave_purchase_price_SN=SN_grouped["Price"].mean()
Ave_purchase_price_SN

#Calculate Total Purchase by SN
Total_purchase_SN=SN_grouped["Price"].sum()
Total_purchase_SN

#Create new data frame to hold above data
Top_Spender_demo=pd.DataFrame({"Purchase Count":Pur_count_by_SN,"Average Purchase Price":Ave_purchase_price_SN,"Total Purchase Value":Total_purchase_SN})
Top_Spender_demo

# Sort the Dataframe in descending order for top 5
formatted_spender=Top_Spender_demo.sort_values(["Total Purchase Value"],ascending=False).head()
formatted_spender

# Further formatting for currency
formatted_spender.style.format({"Average Purchase Price":'${:,.2f}',"Total Purchase Value":'${:,.2f}'})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [22]:
#Create new Data frame with Item ID, Item Name and Item Price
Items_df=purchase_data[["Item ID","Item Name","Price"]]

#Use Groupby in order to seperate the data into fields according to Item ID and the Item name values
Items_grouped=Items_df.groupby(["Item ID","Item Name"])
Items_grouped

#obtain purchase count
Purchase_count_item=Items_grouped["Item ID"].count()
Purchase_count_item

#Calculate total purchase value
Total_purchase_value=Items_grouped["Price"].sum()
Total_purchase_value

#Calculate average item price, 
Ave_item_price=Total_purchase_value/Purchase_count_item
Ave_item_price

# Create data frame to put them togethor
Most_popular_item=pd.DataFrame({"Purchase Count":Purchase_count_item,"Item Price":Ave_item_price,"Total Purchase Value":Total_purchase_value})
Most_popular_item

# Sort the Dataframe in descending order Purchase Count for top 5
formatted_Popular_item=Most_popular_item.sort_values(["Purchase Count"],ascending=False).head()
formatted_Popular_item

# Further formatting for currency
formatted_Popular_item.style.format({"Item Price":'${:,.2f}',"Total Purchase Value":'${:,.2f}'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [21]:
# Sort the Dataframe in descending order by Total Purchase Value for top 5
formatted_Popular_item=Most_popular_item.sort_values(["Total Purchase Value"],ascending=False).head()
formatted_Popular_item

formatted_Popular_item.style.format({"Item Price":'${:,.2f}',"Total Purchase Value":'${:,.2f}'})